.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boardBackground {
  background-color: #bbada0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.board {
  display: grid;
  border-radius: 10px;
  background-color: transparent;
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.tile {
  border-radius: 50%;
  height: 90%;
  width: 90%;
}

.tileWhite {
  background-color: white;
}

.tileBlack {
  background-color: black;
}
