<ng-container *ngIf="knownOpponentName">
  <mat-card>
    <mat-card-content>
      Your opponent is {{ opponentName }}
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="winner">
  <mat-card class="winner">
    <mat-card-content>{{ winnerMessage }}</mat-card-content>
  </mat-card>
</ng-container>

<mat-table [dataSource]="board">
  <ng-container *ngFor="let row of board; let rowIndex = index">
    <mat-row>
      <ng-container *ngFor="let cell of row; let columnIndex = index">
        <mat-cell (click)="userPlayed(rowIndex, columnIndex)">
          <div
            [ngClass]="{
              circle: getSquare(rowIndex, columnIndex) > 0,
              red: getSquare(rowIndex, columnIndex) == 1,
              'dark-red': getSquare(rowIndex, columnIndex) == 3,
              blue: getSquare(rowIndex, columnIndex) == 2,
              'dark-blue': getSquare(rowIndex, columnIndex) == 4
            }"
          ></div>
        </mat-cell>
      </ng-container>
    </mat-row>
  </ng-container>
</mat-table>
