@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  text-align: center;
  margin-bottom: 20px;
}

.message {
  font-size: 24px;
  margin-bottom: 10px;
}

.button {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 5px;
  background: silver;
  color: #555;
  transition: background 0.3s;

  padding: 8px;
  border-color: silver;

  &:hover {
    background: #ddd;
  }
}

.messages {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 100%;
  max-width: 50px; /* Adjust based on design needs */
  height: 50px; /* Ensure squares are consistently sized */
  margin: 2px;
  flex: 1;
}

@media (min-width: 600px) {
  .board {
    max-width: 600px; /* Larger size for tablets and above */
  }
}

@media (min-width: 900px) {
  .board {
    max-width: 800px; /* Even larger for desktops */
  }

  .square {
    max-width: 70px;
    height: 70px;
  }
}
